.body {
	margin: 0px;
}

.menu {
	height: 72px;
	background-color: #669999;
}

.menu2 {
	height: 30px;
	background-color: #1f2e2e; 
}

.title {
	padding-left: 10px;
	font-size: 65px;
	font-family: 'Geo', sans-serif;
	color: white;
	width: 105px; 
	float: left;
}

.menubar {
	height: 72px;
	background-color: #669999;
	float: left;
	width: 105px;
	text-align: center; 
	position: relative;
	z-index: 0;
}

.dropdownFrame {
	display: none;
	top: 72px;
}

.menubar:hover .dropdownFrame {
	display: block;
}

.menutext {
	text-align: center;
	margin-top: 20px;
	width: 85px;
	margin-left: 12px;
	font-size: 30px;
	font-family: 'Cuprum', sans-serif;
	color: white;
}

.menutext:hover {
	color: #ff944d;
}

.menubarsearch {
	float: right;
	width: 300px;
	margin-top: 25px;
}

.dropdownFrame {
	position: absolute;
	background-color: #1f2e2e
}

.dropdown {
	float: left;
	font-family: 'Geo', sans-serif;
	color: white;
	font-size: 30px;
	text-align: center;
	margin-left: 4px;
	margin-top: 10px;
	padding-right: 8px;
	padding-left: 5px;
}

.dropdown:hover {
	text-decoration: underline;
	color: #ff944d;
}

.gameoptions {
	text-align: center;
	height: 50px;
	font-family: 'Geo', sans-serif;
	font-size: 40px;
	margin-top: 0px;
}

.gameoptions:hover {
	text-decoration: underline;
}

.search {
    padding:8px 15px;
    background-color: #ffffff;
    color: black;
    border: 0px;
}

.button {
	width: 60px;
	height: 31px;
	background-color:#ff944d;
    color:#ffffff;
    border:2px solid #ff944d;
    text-align: center;
    margin: 0px;
}

.button:hover  {
    background-color:#00cc44;
    border: 2px solid #00cc44;
    color:#ffffff;
}